<html>
	<h1>
		Uploaded files
	</h1>

  <div>
		<h3><a href="/upload">Upload new file</a></h3>

    <ul>
      {{- range .files }}
        <li><a href="/uploads?filename={{ . }}">{{ . }}</a></li>
      {{- end }}
    <ul>
	</div>
</html>
